.register-page{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #7c3aed
  );

  padding:20px;

}

.register-card{

  width:100%;

  max-width:430px;

  background:white;

  padding:40px;

  border-radius:25px;

  box-shadow:
  0 15px 40px rgba(0,0,0,0.2);

  text-align:center;

}

.register-card h1{

  font-size:32px;

  color:#0f172a;

  margin-bottom:10px;

}

.register-card p{

  color:#64748b;

  margin-bottom:30px;

}

.register-card form{

  display:flex;

  flex-direction:column;

  gap:18px;

}

.register-card input{

  padding:15px;

  border:1px solid #cbd5e1;

  border-radius:12px;

  font-size:16px;

  outline:none;

}

.register-card input:focus{

  border-color:#7c3aed;

}

.register-card button{

  padding:15px;

  border:none;

  border-radius:12px;

  background:#7c3aed;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;

}

.register-card button:hover{

  background:#6d28d9;

}

.auth-link{

  margin-top:20px;

  color:#475569;

}

.auth-link a{

  margin-left:5px;

  color:#7c3aed;

  text-decoration:none;

  font-weight:600;

}