.templates-page{
  min-height:100vh;
  background:#0f172a;
  color:white;
  padding:50px 40px;
}

.home-btn{
  padding:12px 22px;
  border:none;
  border-radius:12px;
  background:#8b5cf6;
  color:white;
  cursor:pointer;
  margin-bottom:30px;
}

.templates-header{
  text-align:center;
  margin-bottom:60px;
}

.templates-header h1{
  font-size:52px;
  margin-bottom:15px;
}

.templates-header p{
  color:#cbd5e1;
  font-size:18px;
}

.templates-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(340px,1fr));
  gap:35px;
}

.template-card{
  background:#1e293b;
  border-radius:28px;
  overflow:hidden;
  transition:0.4s;
  border:1px solid rgba(255,255,255,0.08);
}

.template-card:hover{
  transform:translateY(-10px);
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.template-preview{
  padding:25px;
}

.resume-demo{
  background:white;
  border-radius:20px;
  height:320px;
  overflow:hidden;
  display:flex;
}

.left-strip{
  width:30%;
  padding:20px;
}

.profile-circle{
  width:70px;
  height:70px;
  background:white;
  border-radius:50%;
  margin-bottom:20px;
}

.small-line{
  height:10px;
  background:white;
  border-radius:10px;
  margin-bottom:10px;
}

.small-line.short{
  width:70%;
}

.small-box{
  height:100px;
  background:rgba(255,255,255,0.3);
  border-radius:14px;
  margin-top:20px;
}

.right-content{
  flex:1;
  padding:20px;
}

.header-box{
  height:70px;
  border-radius:16px;
  margin-bottom:20px;
}

.line{
  height:12px;
  background:#dbe4ee;
  border-radius:10px;
  margin-bottom:14px;
}

.line.short{
  width:60%;
}

.box{
  height:90px;
  background:#e2e8f0;
  border-radius:16px;
  margin-bottom:20px;
}

.template-info{
  padding:25px;
}

.badge{
  display:inline-flex;
  align-items:center;
  gap:8px;
  padding:8px 16px;
  border-radius:30px;
  margin-bottom:20px;
  font-size:14px;
  font-weight:600;
}

.template-info h2{
  font-size:30px;
  margin-bottom:10px;
}

.template-info p{
  color:#cbd5e1;
  margin-bottom:20px;
}

.features{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:25px;
}

.features span{
  display:flex;
  align-items:center;
  gap:10px;
}

.template-info button{
  width:100%;
  border:none;
  padding:15px;
  color:white;
  border-radius:14px;
  cursor:pointer;
  font-size:16px;
  font-weight:600;
}

@media(max-width:768px){

  .templates-page{
    padding:30px 20px;
  }

  .templates-header h1{
    font-size:38px;
  }

}